.page-section {
	position: relative;
	z-index: 11;
	padding: 1.2rem 0;       
	    @mixin atMedium {
	        padding: 6.375rem 0 4rem 0;
	    }
	

	&--peach {
		background-color: rgba($lightPeach, .36);
	}

	&__full {

		margin-left: -25px;
		margin-right: -25px;
		@mixin atMedium {
			margin: 0;
		}
		
	}	

	&__bg {
		position: absolute;
	
		display: none;
		z-index: 0;

		img {
			width: 90%;
		}

		@mixin atMedium {
			top: 50%;
			left: 50%;		
			transform: translate(-90%, -10%);
			display: block;
		}

		@mixin atLarge {
			top: 50%;
			left: 50%;		
			transform: translate(-80%, -20%);
			display: block;
		}

	}

	&__last {
		
		padding: 0;  
		@mixin atSmall {
			padding:  4rem 0 8rem 0;
		}
		
	}

	&__top-alignment-header {
		padding-top: 4rem;

		@mixin atSmall {
			padding-top: 6rem;
		}

		@mixin atMedium {
			padding-top: 6rem;
		}


	}

	&__t-margin-small {
		transform: translateY(-60px);
		padding-bottom: 0;
		@mixin atSmall {
			transform: translateY(-50px);
		}
		@mixin atMedium {
			transform: translateY(-100px);
		}

	}

	&--t-margin-medium {
		margin-top: 0;
		@mixin atMedium {
			margin-top: -70px;

		}
		
	}

	&--t-margin {
		margin-top: 30px;

		 @mixin atMedium {
		 	margin-top: 60px;
		 }
	}

	&--t-b-margin {
		margin-top: 40px;
		margin-bottom: 30px;


		 @mixin atMedium {
		 	margin-top: 70px;
		 	margin-bottom: 60px;
		 }
	}

	&--pull-top-till-medium {
		
		margin-top: -80px;
		@mixn atMedium {
			margin-top: -150px;
		}
		


	}


		
}